!!!
%hml
  %head
    %title= @page_title || 'Rail Station'

    = stylesheet_link_tag 'rail_station', :media => 'all'
    = javascript_include_tag 'rail_station'

    = render 'rail_station/head'

    %meta{ :name => 'viewport', :content => 'initial-scale = 1.0,maximum-scale = 1.0' }
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =rail_station_brand
          - if current_user
            .nav-collapse
              =rail_station_menu_list rail_station_admin_menu
            %p.navbar-text.pull-right= render 'rail_station/navbar_user'
    .container
      .row
        .span12
          = yield
